/* Customer homepage */

@media (min-width: 1011px) {

section#map {
    margin-top: 1rem;
    height: 35rem;
}

main.customer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}

div.search_container {
    margin: 1rem;
}

form.search > div > input[type=text] {
    width: 95%; /* Gør, at input fylder hele div'en */
    padding: 0.9rem 0.8rem;
    border-radius: 30px;
    border: 1px solid #ccc;

}

label.query {
        display: none;
}

section.item_list {
    margin: 1.5rem;

    > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 0;

    }

    div:has(button).more {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
}

ul.item_list > li {
    list-style-type: none;
    flex: 1 1 calc(33.33% - 1rem); /* Ensure three items per row */
    box-sizing: border-box; /* Include padding and borders in size calculation */


    > div {
    border-radius: 8px;
    background-color: var(--primary-col);
    padding: 2rem 2rem;
}
}


a.card {
    color: var(--secondary-col);
}

@media (max-width: 1010px) {

    section#map {
        margin-top: 0rem;
        height: 15rem;
    }

    ul.item_list > li > div {
        padding: 1rem 1rem;
    }

    section.item_list ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    /* main.customer {
        display: grid;
        grid-template-columns: 1fr;
    } */



}

/* Customer singleview */

@media (max-width: 582px) {

    section.customer_single section.customer_single_items > ul{
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    }
}


@media (min-width: 583px) {

    section.customer_single section.customer_single_items > ul{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}


section.customer_single {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;

    > section.customer_single_items > ul {
        /* display: flex;
        flex-direction: row; */
        
        display: grid;
        gap: 1rem;
        padding-left: 0;
        flex-wrap: wrap;
    }

    > section.customer_single_items > ul > li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.8rem;

        border-radius: var(--button-border-radius);
        background-color: rgb(244, 244, 244);

        > div {
            padding: 1rem;
            /* max-width: 14ch;
            line-break: strict; */
        }
    }

    img.dish {
        height: 7rem;
        border-radius: 0.2rem 0.2rem 0 0;
    }
}

.buy {
    font-size: var(--font-body-rem-desk-mid);
    color: var(--secondary-col);
    background-color: var(--cta-col);
    font-family: var(--font-header);
    border: none;
    border-radius: var(--button-border-radius);
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    cursor: pointer;
}

@media (min-width: 1011px) {
    .buy {
        margin-top: 0.5rem;
    }
}