@import '_variables.css';
@import 'general.css';


main.login, main.signup {
    background-color: var(--primary-col);
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;

}

form {
    display: flex;
    flex-direction: column;
}

.signin_box {
    background-color: var(--secondary-col);
    padding: 2rem;
    border-radius: var(--form-border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 18.75rem;
    min-width: 6.25rem;
}

.signin_box h1 {
    margin: 0;
    margin-bottom: 1.5rem;
    color: var(--cta-col);
}

.signin_box input{
    padding: 0.75rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-size: var(--font-body-rem-desk-mid);
}

.signin_box a {
    display: block;
    text-align: right;
    margin-bottom: 1rem;
    font-size: var(--font-body-rem-desk-mid);
}

.signin_box p {
    margin-top: 1rem;
    font-size: var(--font-body-rem-desk-mid);
}

.signin_box p a {
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}

@media (max-width: 1050px) { 
    .signin_box {
        min-width: 20.25rem;
    }
}

@media (max-width: 650px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0;
    }

    .signin_box {
        min-width: 6.25rem;
    }
}