{% include "_top.html" %}

<main class="login">
    <div class="container">
        <div class="logo">HungerHub</div>
        <div class="signin_box">
            <h1>Reset Password</h1>
            <form id="frm_reset_password">
                <label for="user_password">New Password</label>
                <input type="password" name="user_password" mix-check="{{ x.REGEX_USER_PASSWORD }}">
                
                <button class="cta" mix-post="/reset-password/{{reset_token}}" mix-data="#frm_reset_password">Reset Password</button>
            </form>
        </div>
    </div>
</main>

{% include "_bottom.html" %}